<header
  class="max-w-5xl mx-auto px-8 pb-24 xl:px-0 before:content-[''] lg:pb-0"
>
  <div class="absolute right-0 w-[65vw] lg:top-9 hidden sm:block lg:w-[60vw]">
    <div class="h-20 bg-transparant backdrop-blur-2xl"></div>
  </div>
  <div
    class="grid grid-cols-[48px_1fr] gap-10 items-center pt-5 lg:pt-14 lg:gap-14 lg:grid-cols-[48px_0.6fr_1fr]"
  >
    <div class="xl:-ml-28">
      <img src="assets/shared/logo.svg" alt="" />
    </div>
    <div class="hidden h-[1px] bg-[#979797] z-20 lg:block xl:-ml-24">
      &nbsp;
    </div>
    <nav class="justify-self-end z-10 hidden sm:block">
      <ul class="flex space-x-10 font-body-alt uppercase lg:space-x-12">
        <li *ngFor="let nav of navigation; let i = index">
          <a
            [routerLink]="nav.link"
            class="text-small tracking-wide lg:text-base"
            [ngClass]="{ 'border-b-2 pb-[1.7rem]': isActiveRoute(nav.link) }"
          >
            <span
              class="hidden font-bold mr-2 xl:inline-block"
              aria-hidden="true"
            >
              0{{ i }}
            </span>
            {{ nav.title }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
