<header
  class="max-w-5xl mx-auto px-8 pb-24 xl:px-0 before:content-[''] lg:pb-0"
>
  <div class="absolute right-0 w-[60vw] lg:top-9">
    <div class="h-20 bg-transparant backdrop-blur-2xl"></div>
  </div>
  <div
    class="grid grid-cols-[48px_1fr] gap-10 items-center pt-5 lg:pt-14 lg:gap-18 lg:grid-cols-[48px_0.6fr_1fr]"
  >
    <div class="xl:-ml-28">
      <img src="/assets/shared/logo.svg" alt="" />
    </div>
    <div class="hidden h-[1px] bg-white z-20 lg:block xl:-ml-11">&nbsp;</div>
    <nav class="justify-self-end z-10">
      <ul class="flex space-x-12 font-body-alt uppercase">
        <li *ngFor="let nav of navigation; let i = index">
          <a
            [routerLink]="nav.link"
            [ngClass]="{ 'border-b-2 pb-[1.7rem]': isActiveRoute(nav.link) }"
          >
            <span
              class="hidden font-bold mr-2 xl:inline-block"
              aria-hidden="true"
            >
              0{{ i }}
            </span>
            {{ nav.title }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
