<shared-responsive-container>
  <div class="flex flex-col items-center justify-between lg:flex-row">
    <div class="max-w-md">
      <h1>
        <span class="text-h5 block">So, you want to travel to</span>
        <span class="text-h1 block">Space</span>
      </h1>
      <p>
        Let's face it; if you want to go to space, you might as well genuinely
        go to outer space and not hover kind of on the edge of it. Well sit
        back, and relax because we'll give you a truly out of this world
        experience!
      </p>
    </div>
    <div class="p-32 lg:self-end lg:p-0">
      <shared-marketing-button
        label="Explore"
        link="/destination"
      ></shared-marketing-button>
    </div>
  </div>
</shared-responsive-container>
